div.content-loading {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary);
    z-index: 10000;
}

div.content-loading.min-height {
    height: 100%;
    min-height: 100vh;
}

div.content-loading.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}